iframe {
    display:block;
    margin: 0 auto;
    background-color: #777;
}
.navbar .navbar-brand {
    text-align: center;
    display: block;
    width: 100%;
  }
  
  .navbar .navbar-brand > .navbar-item,
  .navbar .navbar-brand .navbar-link {
    display: inline-block;
  }

  .hero.has-background {
    position: relative;
    overflow: hidden;
  }
  .hero-background {
    position: relative;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }